{{ define "content" }}
<div id="content-container" class="ts-container has-vertically-padded-large has-bottom-padded-huge">
    {{ if .Message }}
    <div class="ts-notice has-bottom-spaced-large">
        <div class="title">{{ __ "notice_title" }}</div>
        <div class="content">{{ .Message }}</div>
    </div>
    {{ end }}

    <div class="ts-header">{{ __ "appearances_appearances" }}</div>
    <form method="POST">
        <input type="hidden" name="_csrf" value="{{ .CSRF }}" />
        <div class="ts-box has-top-spaced">
            <div class="ts-content is-vertically-padded">
                <div class="has-top-spaced">
                  <details>
                  <summary class="ts-header">{{ __ "appearances_layout" }}</summary>
                  <div class="has-top-spaced">
                <!-- color_scheme -->
                <div class="ts-control">
                    <div class="label">{{ __ "appearances_colorscheme" }}</div>
                    <div class="content is-padded">
                        <div class="ts-wrap is-vertical is-compact">
                            <label class="ts-radio">
                                <input name="color_scheme" type="radio" value="light" {{ if eq .Config.ColorScheme "light" }}checked{{ end }} />
                                {{ __ "appearances_colorscheme_light" }}
                            </label>
                            <label class="ts-radio">
                                <input name="color_scheme" type="radio" value="dark" {{ if eq .Config.ColorScheme "dark" }}checked{{ end }} />
                                {{ __ "appearances_colorscheme_dark" }}
                            </label>
                            <label class="ts-radio">
                                <input name="color_scheme" type="radio" value="" {{ if not .Config.ColorScheme }}checked{{ end }} />
                                {{ __ "appearances_colorscheme_auto" }}
                            </label>
                            <div class="ts-text is-description">
                                {{ __ "appearances_colorscheme_description" }}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / color_scheme -->

                <!-- container_width -->
                <div class="ts-control has-top-spaced-large">
                    <div class="label">{{ __ "appearances_containerwidth" }}</div>
                    <div class="content is-padded">
                        <div class="ts-wrap is-vertical is-compact">
                            <label class="ts-radio">
                                <input name="container_width" type="radio" value="small" {{ if eq .Config.ContainerWidth "small" }}checked{{ end }} />
                                {{ __ "appearances_containerwidth_small" }}
                            </label>
                            <label class="ts-radio">
                                <input name="container_width" type="radio" value="medium" {{ if eq .Config.ContainerWidth "medium" }}checked{{ end }} />
                                {{ __ "appearances_containerwidth_medium" }}
                            </label>
                            <label class="ts-radio">
                                <input name="container_width" type="radio" value="large" {{ if eq .Config.ContainerWidth "large" }}checked{{ end }} />
                                {{ __ "appearances_containerwidth_large" }}
                            </label>
                            <div class="ts-text is-description">
                                {{ __ "appearances_containerwidth_description" }}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / container_width -->
                  </div>
                  </details>

                  <details>
                  <summary class="ts-header has-top-spaced-large">{{ __ "appearances_content" }}</summary>
                  <div class="has-top-spaced">
                <!-- highlight_js -->
                <div class="ts-control">
                    <div class="label">{{ __ "appearances_highlightjs" }}</div>
                    <div class="content is-padded">
                        <div class="ts-wrap is-vertical is-compact">
                            <label class="ts-radio">
                                <input name="highlight_js" type="radio" value="true" {{ if .Config.HighlightJS }}checked{{ end }} />
                                {{ __ "appearances_highlightjs_true" }}
                            </label>
                            <label class="ts-radio">
                                <input name="highlight_js" type="radio" value="false" {{ if not .Config.HighlightJS }}checked{{ end }} />
                                {{ __ "appearances_highlightjs_false" }}
                            </label>
                            <div class="ts-text is-description">
                                {{ __ "appearances_highlightjs_description" }}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / highlight_js -->

                <!-- author_block -->
                <div class="ts-control has-top-spaced-large" style="display: none;">
                    <div class="label" >{{ __ "appearances_authorblock" }}</div>
                    <div class="content is-padded">
                        <div class="ts-wrap is-vertical is-compact">
                            <label class="ts-radio">
                                <input name="author_block" type="radio" value="start" {{ if eq .Config.AuthorBlock "start" }}checked{{ end }} />
                                {{ __ "appearances_authorblock_start" }}
                            </label>
                            <label class="ts-radio">
                                <input name="author_block" type="radio" value="end" {{ if eq .Config.AuthorBlock "end" }}checked{{ end }} />
                                {{ __ "appearances_authorblock_end" }}
                            </label>
                            <label class="ts-radio">
                                <input name="author_block" type="radio" value="none" {{ if eq .Config.AuthorBlock "none" }}checked{{ end }} />
                                {{ __ "appearances_authorblock_none" }}
                            </label>
                            <div class="ts-text is-description">
                                {{ __ "appearances_authorblock_description" }}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / author_block -->

                <!-- posts_per_page -->
                <div class="ts-control has-top-spaced-large">
                    <div class="label">{{ __ "appearances_postsperpage" }}</div>
                    <div class="content">
                        <div class="ts-input">
                            <input name="posts_per_page" type="number" value="{{ .Config.PostsPerPage }}" required />
                        </div>
                        <div class="ts-text is-description has-top-spaced-small">
                            {{ __ "appearances_postsperpage_description" }}
                        </div>
                    </div>
                </div>
                <!-- / posts_per_page -->

                <!-- footer_text -->
                <div class="ts-control has-top-spaced-large">
                    <div class="label">{{ __ "appearances_footertext" }}</div>
                    <div class="content">
                        <div class="ts-input is-resizable">
                            <textarea name="footer_text" rows="5">{{ .Config.FooterText }}</textarea>
                        </div>
                        <div class="ts-text is-description has-top-spaced-small">
                            {{ __ "appearances_footertext_description" }}
                        </div>
                    </div>
                </div>
                <!-- / footer_text -->
                  </div>
                  </details>

                  <details>
                  <summary class="ts-header has-top-spaced-large">{{ __ "appearances_theme_settings" }}</summary>
                  <div class="has-top-spaced">
                <!-- themes -->
                <div class="ts-control">
                    <div class="label">{{ __ "appearances_themes" }}</div>
                    <div class="content">
                        <div class="ts-select is-fluid">
                            <select name="theme">
                                {{ range .Themes }}
                                <option value="{{ . }}" {{ if eq $.Config.Theme . }}selected{{ end }}>{{ . }}</option>
                                {{ end }}
                            </select>
                        </div>
                        <div class="ts-text is-description has-top-spaced-small">
                            {{ __ "appearances_themes_description" }}
                        </div>
                    </div>
                </div>
                <!-- / themes -->

                <!-- favicon -->
                <div class="ts-control has-top-spaced-large">
                    <div class="label">{{ __ "appearances_favicon" }}</div>
                    <div class="content">
                        <div class="ts-input">
                            <input name="favicon" type="text" value="{{ .Config.Favicon }}" placeholder="https://example.com/favicon.ico" />
                        </div>
                        <div class="ts-text is-description has-top-spaced-small">
                            {{ __ "appearances_favicon_description" }}
                        </div>
                    </div>
                </div>
                <!-- / favicon -->
                  </div>
                  </details>

                  <details>
                  <summary class="ts-header has-top-spaced-large">{{ __ "appearances_customcode" }}</summary>
                  <div class="has-top-spaced">
                <!-- custom_css -->
                <div class="ts-control">
                    <div class="label">{{ __ "appearances_customcss" }}</div>
                    <div class="content">
                        <div class="ts-input is-resizable">
                            <textarea name="custom_css" rows="10" style="font-family: monospace;">{{ .Config.CustomCSS }}</textarea>
                        </div>
                        <div class="ts-text is-description has-top-spaced-small">
                            {{ __ "appearances_customcss_description" }}
                        </div>
                    </div>
                </div>
                <!-- / custom_css -->
                  </div>
                  </details>
                </div>
            </div>
            <div class="ts-divider"></div>
            <div class="ts-content is-dense is-secondary">
                <div class="ts-wrap is-end-aligned">
                    <button type="submit" class="ts-button">{{ __ "button_savechanges" }}</button>
                </div>
            </div>
        </div>
    </form>

    <div class="ts-header has-top-spaced-big">{{ __ "appearances_customcode" }}</div>
    <div class="ts-text is-secondary has-top-spaced-small">
        {{ __ "appearances_injected_description" }}
    </div>
    <form action="appearances/injected" method="POST">
        <input type="hidden" name="_csrf" value="{{ .CSRF }}" />
        <div class="ts-box has-top-spaced">
            <div class="ts-content is-vertically-padded">
                <!-- injected_head -->
                <div class="ts-control">
                    <div class="label">{{ __ "appearances_injectedhead" }}</div>
                    <div class="content is-padded">
                        <div class="ts-input is-resizable">
                            <textarea name="injected_head" rows="5">{{ .Config.InjectedHead }}</textarea>
                        </div>
                        <div class="ts-text is-description has-top-spaced-small">
                            {{ __ "appearances_injectedhead_description" }}
                        </div>
                    </div>
                </div>
                <!-- / injected_head -->

                <!-- injected_foot -->
                <div class="ts-control has-top-spaced-large">
                    <div class="label">{{ __ "appearances_injectedfoot" }}</div>
                    <div class="content">
                        <div class="ts-input is-resizable">
                            <textarea name="injected_foot" rows="5">{{ .Config.InjectedFoot }}</textarea>
                        </div>
                        <div class="ts-text is-description has-top-spaced-small">
                            {{ __ "appearances_injectedfoot_description" }}
                        </div>
                    </div>
                </div>
                <!-- injected_foot -->

                <div class="ts-divider has-vertically-spaced-big"></div>

                <!-- injected_post_start -->
                <div class="ts-control">
                    <div class="label">{{ __ "appearances_injectedpoststart" }}</div>
                    <div class="content">
                        <div class="ts-input is-resizable">
                            <textarea name="injected_post_start" rows="5">{{ .Config.InjectedPostStart }}</textarea>
                        </div>
                        <div class="ts-text is-description has-top-spaced-small">
                            {{ __ "appearances_injectedpoststart_description" }}
                        </div>
                    </div>
                </div>
                <!-- / injected_post_start -->

                <!-- injected_post_end -->
                <div class="ts-control has-top-spaced-large">
                    <div class="label">{{ __ "appearances_injectedpostend" }}</div>
                    <div class="content">
                        <div class="ts-input is-resizable">
                            <textarea name="injected_post_end" rows="5">{{ .Config.InjectedPostEnd }}</textarea>
                        </div>
                        <div class="ts-text is-description has-top-spaced-small">
                            {{ __ "appearances_injectedpostend_description" }}
                        </div>
                    </div>
                </div>
                <!-- / injected_post_end -->
            </div>
            <div class="ts-divider"></div>
            <div class="ts-content is-dense is-secondary">
                <div class="ts-wrap is-end-aligned">
                    <button type="submit" class="ts-button">{{ __ "button_savechanges" }}</button>
                </div>
            </div>
        </div>
    </form>
</div>
{{ end }}
