<!DOCTYPE html>
<html class="is-secondary">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="stylesheet" href="/admin/assets/admin.css" />
        <script src="/admin/assets/admin.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans+SC:wght@100..900&family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        {{ if and .Config .Config.Favicon }}<link rel="icon" href="{{ .Config.Favicon }}" type="image/x-icon" />{{ else }}<link rel="icon" type="image/png" href="{{ .URL.RelativeRoot }}assets/favicon.ico">{{ end }}
        <title>{{ .Name }}</title>
        <style>
            body {
                font-family: "Noto Sans TC", "Noto Sans SC", "Noto Sans JP", "Noto Sans KR";
            }
        </style>
    </head>
    <body>
        <form method="POST">
            <input type="hidden" name="_csrf" value="{{ .CSRF }}" />
            <div class="ts-app-center">
                <div class="content">
                    <div class="ts-header is-large is-heavy is-icon">
                        <a href="/" target="_blank" title="{{ .Config.Name }}">
                        {{ if .Config.Favicon }}
                        <img src="{{ .Config.Favicon }}" style="width: 2em;" alt="{{ .Config.Name }}">
                        {{ else }}
                        <img src="/assets/favicon.ico" style="width: 2em;" alt="Golog">
                        {{ end }}
                        </a>
                    </div>
                    <div class="has-top-spaced-large" style="width: 100%">
                        {{ if .Message }}
                        <div class="ts-notice is-negative has-bottom-spaced">
                            <div class="content">{{ .Message }}</div>
                        </div>
                        {{ end }}
                        <div class="ts-box">
                            <div class="ts-content is-padded">
                                <div class="ts-wrap is-vertical">
                                    <div class="ts-text is-label">{{ __ "users_email" }}</div>
                                    <div class="ts-input is-start-icon">
                                        <span class="ts-icon is-user-icon"></span>
                                        <input type="email" name="email" required />
                                    </div>
                                    <div class="ts-text is-label">{{ __ "users_password" }}</div>
                                    <div class="ts-input is-start-icon">
                                        <span class="ts-icon is-lock-icon"></span>
                                        <input type="password" name="password" required />
                                    </div>
                                    <div></div>
                                    <div class="ts-grid">
                                        <div class="column">
                                            <a href="{{ .URL.RelativeRoot }}" class="ts-button is-ghost">{{ __ "button_back" }}</a>
                                        </div>
                                        <div class="column is-fluid">
                                            <button type="submit" class="ts-button is-fluid">{{ __ "button_login" }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>
