/* 全局重置与盒模型 */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

iframe {
  width: 100% !important;
  margin: 1em auto !important;
}

html {
  width: 100%;
  height: 100%;
  background-image: var(--base-main-bg-img);
}

/* 基础样式 */
body {
  display: flex;
  width: 100%;
  min-height: 100%;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
  font-size: var(--font-size);
  background-image: var(--base-main-bg-img);
  background-size: 20px 20px;
  background-color: var(--main-bg-color);
  color: var(--font-color);
  font-family:
    "Open Sans", "Helvetica Neue", Helvetica, "BBAlpha Sans", "S60 Sans", Arial,
    "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif !important;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

#root,
#__next {
  isolation: isolate;
}

ul li,
ol li {
  margin: 1em 0em 0em 2em;

  p {
    text-indent: 0;
  }
}

center,
img {
  margin: 0.2em auto 1em;
}

a,
.link {
  color: var(--base-color);
  text-decoration: none;
  transition: transform 0.5s ease-in-out;

  &:hover,
  &:active {
    transform: scale(1.2);
    text-decoration: underline;
  }
}

.icon {
  display: inline-block;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    font-weight 0.3s ease;

  &:hover {
    font-weight: bolder;
    transform: scale(1.1);
  }
}

blockquote {
  padding: 0.5em 1em;
  margin: 2em 0;
  border-left: 4px solid #175fabbf;
  background: var(--sider-bg-color);
}

section {
  width: 100%;
}

.body-inner {
  display: flex;
  flex-direction: column;
  width: var(--base-width);
  margin: var(--body-margin) auto;
  background-color: var(--main-bg-color);
}

header {
  .toc-btn {
    transition: all ease 1s;

    &.active {
      rotate: 90deg;
    }
  }

  .note-top {
    width: 100%;
    height: var(--note-top-height);
    border-radius: var(--notetop-radius);
    background: var(--note-top-img) no-repeat;
    background-size: 100% 100%;
    z-index: 999;
    pointer-events: none;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-top: var(--container-margin-top);
  -ms-overflow-style: none;
  scrollbar-width: none;
  color: var(--font-color);
  box-sizing: border-box;

  .content-wrapper {
    flex: 1;
    padding: var(--content-v-padding) var(--content-h-padding) 0em;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    .content {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      p.head-item {
        text-indent: 0;
      }
    }
  }

  .gap {
    color: rgba(53, 64, 80, 0.388);
  }
}

.centroid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upper {
  position: fixed;
  bottom: 1em;
  right: 1em;
  width: 2.5em;
  height: 2.5em;
  opacity: 0;
  border-radius: 0.2em;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
  background-color: var(--base-color);
  z-index: 999;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    color: #fff;
    text-decoration: none;

    &:active,
    &:hover {
      transform: scale(1.1);
    }
  }
}

center {
  font-size: var(--font-size-s);
  transform: translateY(-1.5em);
}

footer {
  width: 100%;
  margin-top: 0.5em;
  border-top: 1px dashed var(--border-color);

  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em 0em;

    .footer-item {
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        font-size: var(--font-size-s);
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      svg {
        width: var(--footer-icon-size);
        height: var(--footer-icon-size);
        border-radius: 3px;
        fill: var(--base-color);
      }
    }
  }

  .notebottom {
    width: 100%;
    height: 1.5em;
    background: var(--note-bottom-img) no-repeat;
    background-size: 100% 100%;
  }
}

.footnotes {
  width: 100%;
  border: none !important;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5em 1em;
  text-align: left;
  font-size: var(--font-size-s);
  color: gray;
  border-bottom: 1px dashed var(--border-color);
  box-sizing: border-box;

  .nav-inner {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .icon {
    margin-left: 3px;

    svg {
      width: var(--nav-icon-size);
      height: var(--nav-icon-size);
    }
  }
}

.side-bar {
  overflow: hidden;
  font-size: var(--font-size-s);
  transition: max-height ease 1s;
  max-height: 0vh;

  &.active {
    max-height: 300vh;
  }

  .side-bar-body {
    position: relative;
    width: 100%;
    padding: 1em;
    margin: 0em;
    border-radius: 0.2em;
    background-color: var(--sider-bg-color);

    .side-bar-content {
      display: flex;
      flex-direction: column;
      gap: 1em;
      width: 100%;

      ul {
        width: 100%;
        list-style: none;

        li {
          margin: 0.5em 1em;

          a {
            color: inherit;
            text-decoration: underline;
          }
        }
      }

      .side-bar-intro {
        font-size: var(--font-size-s);
      }

      .search {
        form {
          display: flex;
          gap: 0.5em;
          width: 100%;
        }

        input {
          flex: 1;
          min-width: 6em;
          padding: 0.2em;
          border: 1px solid gray;
          border-radius: 0.2em;
          outline: none;
          background-color: var(--input-bg-color);
          color: var(--font-color);

          &:focus-visible {
            outline: none;
            border-color: var(--base-color);
          }
        }

        button {
          width: 2.5em;
          background-color: transparent;
          border: 1px solid var(--border-color);
          border-radius: 20%;

          svg {
            width: 1em;
            height: 1em;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

.lazy-img-wrapper {
  display: block;
  min-height: 30vh;
  background-image: url(/assets/loading.gif);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;

  img {
    opacity: 0;
    display: block;
    width: 100%;
    margin: 0 auto;
    border-radius: 0.1em;
    transition: opacity 1s ease-in-out;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--font-size);
  margin: 1em 0em 0.5em;
}

h1 {
  font-size: calc(var(--font-size) + 6px);

  &+h2 {
    margin-top: 0.5em !important;
  }
}

h2 {
  font-size: calc(var(--font-size) + 4px);

  &+h3 {
    margin-top: 0.5em !important;
  }
}

h3 {
  font-size: calc(var(--font-size) + 2px);

  &+h4 {
    margin-top: 0.5em !important;
  }
}

h4 {
  font-size: calc(var(--font-size) + 1px);

  &+h5 {
    margin-top: 0.5em !important;
  }
}

h5 {
  font-size: calc(var(--font-size) + 0px) !important;
}

.post-list {
  width: 100%;

  .post-item {
    display: flex;
    gap: 0.5em;
    width: 100%;
    border-bottom: 1px dashed var(--border-color);

    .post-item-body {
      flex: 9;
      padding: 0.5em 0;

      .body-text {
        display: flex;
        flex-direction: column;
        gap: 0.4em;
        min-height: 5em;
        padding: 0.5em;
        font-size: var(--font-size);
        word-break: break-all;

        .blog-opt {
          font-size: var(--font-size-s);
          margin: 0.5em 0;
          text-indent: 0;
        }

        .blog-intro {
          text-align: justify;
          text-justify: inter-ideographic;
          word-break: break-all;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          min-height: 2em;
        }

        p {
          text-indent: 2em;

          &.post-title {
            font-weight: bold;
            text-indent: 0;
          }
        }

        img {
          display: block;
          width: 100%;
          margin: 0.5em auto;
          border-radius: 0.5em;
        }
      }
    }

    .post-item-timeline {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: var(--font-color);
      font-size: var(--timeline-font-size);
      border: none;
      border-left: 1px dashed var(--border-color);

      .timeline {
        position: relative;
        left: -0.45em;

        .timeline-date {
          margin: 0 0.3em;
        }
      }
    }
  }
}

#theme-switch {
  svg:last-child {
    display: none;
  }
}

.darkmode #theme-switch {
  svg:first-child {
    display: none;
  }

  svg:last-child {
    display: block;
  }
}

.tip {
  font-size: var(--font-size-tip);
  border: none;

  &.update {
    color: gray;
  }
}

.h-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  width: 100%;
  margin: 0.5em 0;
  border-top: 1px solid var(--border-color);
}

input,
textarea {
  color: var(--font-color);
  padding: 0.2em;
  border: 1px solid gray;
  border-radius: 0.2em;
  outline: none;
  background-color: var(--input-bg-color);

  &:focus-visible {
    outline: none;
    border-color: var(--base-color);
  }
}

details {
  width: 100%;

  summary {
    cursor: pointer;
  }
}

.pagination {
  display: flex;
  justify-content: space-around;
  margin: 1em 0em 0.5em;
}

table {
  width: 100%;
  border-collapse: collapse;

  td,
  th {
    text-align: center;
  }
}