{{ define "og" }}{{ end }}

{{ define "content" }}
    <div class="ts-blankslate is-narrow">
        <h1 class="header">{{ __ "404_title" }}</h1>
        <div class="description">{{ __ "404_description" }}</div>
        <div class="action">
            <a href="{{ .URL.AbsoluteHost }}" class="ts-button">{{ __ "button_returnhomepage" }}</a>
        </div>
    </div>
{{ end }}

{{ define "head" }}
  <link rel="stylesheet" href="/assets/blogs.css" />
  <title>页面丢失·404</title>
{{ end }}