{{ define "og" }}{{ end }}

{{ define "head" }}
<link rel="stylesheet" href="/assets/variable.css" />
<link rel="stylesheet" href="/assets/altcha.css" />
<title>{{ __ "pow_title" }}</title>
{{ end }}

{{ define "content" }}
<div class="altcha-wrapper" data-locale="{{ .Config.Locale }}">
  <div class="altcha-loading" id="altcha-loading">
    <div class="altcha-spinner"></div>
    <span class="altcha-loading-text">{{ __ "pow_loading" }}</span>
  </div>
  <form id="altcha-form" method="POST" action="/altcha/solve">
    <input type="hidden" name="_csrf" value="{{ .CSRF }}" />
    <input type="hidden" name="redirect" value="{{ .PowRedirect }}" />
    <altcha-widget
      name="altcha"
      style="--altcha-max-width:100%"></altcha-widget>
  </form>
</div>

  <script type="module" src="/assets/altcha.js"></script>
{{ end }}
